.navigation {
  min-width: 220px; /* ナビゲーションの幅の最小値 */
  padding: 24px; /* 上下左右に24pxのpaddingを設定 */
  border-right: 1px solid #000; /* 右に1pxの黒い線を引く */
}

/* aria-current="page"属性が付与された要素のテキストの色をオレンジにする */
.navigation [aria-current="page"] {
  color: orangered; /* 現在のページのリンクの色をオレンジにする */
}
